# running mordecai via elasticsearch

set up mordecai via https://github.com/ryerson-ggl/mordecai-geoparser-on-windows

within mordecai-geoparser-on-windows: 
1. activate mordecai-2.0.1.post1
2. run docker container (open Docker Desktop and run geonames_index under Containers/Apps)
3. docker ps -f name=geonames_index
4. http://localhost:9200/_cat/indices?v
5. health status should be yellow; if nothing's shown, consider changing internet service
6. run jupyter notebook from within mordecai-2.0.1.post1 environment

# eda

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)  # or 1000
pd.set_option('display.max_rows', 1000)  # or 1000

In [2]:
d = pd.read_csv("data/emdat_public_2021_08_08_query_uid-lkltYs.csv")[5:].reset_index(drop=True)
d.columns = d.iloc[0]
d = d[1:].reset_index(drop=True)
d

,Dis No,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,Country,ISO,Region,Continent,Location,Origin,Associated Dis,Associated Dis2,OFDA Response,Appeal,Declaration,Aid Contribution,Dis Mag Value,Dis Mag Scale,Latitude,Longitude,Local Time,River Basin,Start Year,Start Month,Start Day,End Year,End Month,End Day,Total Deaths,No Injured,No Affected,No Homeless,Total Affected,Reconstruction Costs ('000 US$),Insured Damages ('000 US$),Total Damages ('000 US$),CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
0,2000-0372-CHN,2000,0372,NaN,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,China,CHN,Eastern Asia,Asia,"Quanzhou, Zhangzhou, Xiamen districts (Fujian ...",Monsoonal rain,Rain,"Slide (land, mud, snow, rock)",NaN,NaN,NaN,NaN,76000,Km2,NaN,NaN,NaN,NaN,2000,6,17,2000,6,30,43,10,NaN,31000,31010,NaN,NaN,19000,67.35575898,1;2,914,13006;13009;13010,"Jiangxi Sheng (Adm1). Quanzhou, Xiamen, Zhangz..."
1,2000-9186-AFG,2000,9186,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,Afghanistan,AFG,Southern Asia,Asia,"Kandahar, Hilmand, Nimroz, Zabul, Uruzgan prov...",NaN,Water shortage,Famine,NaN,Yes,NaN,715539,NaN,Km2,NaN,NaN,NaN,NaN,2000,5,NaN,2002,NaN,NaN,37,NaN,2580000,NaN,2580000,NaN,NaN,50,67.35575898,1,272;273;274;277;279;281;282;285;287;289;293;29...,NaN,"Badakhshan, Badghis, Baghlan, Farah, Ghazni, H..."
2,2000-0373-BGD,2000,0373,NaN,Natural,Hydrological,Flood,Flash flood,NaN,NaN,Bangladesh,BGD,Southern Asia,Asia,"Bakalia, Kotwali, Chandgaon, Pahartali, Hathaz...",Monsoonal rain,"Slide (land, mud, snow, rock)",NaN,NaN,NaN,NaN,NaN,17000,Km2,NaN,NaN,NaN,"Bramputra, Darata",2000,6,24,2000,6,24,11,50,200000,NaN,200050,NaN,NaN,NaN,67.35575898,2,NaN,5770;5772,"Chittagong, Cox's Bazar (Adm2)."
3,2000-0484-BTN,2000,0484,NaN,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,Bhutan,BTN,Southern Asia,Asia,"Pasakha area (Sampheling district, Chhukha pro...",Monsoonal rain,"Slide (land, mud, snow, rock)",NaN,NaN,NaN,NaN,50,NaN,Km2,NaN,NaN,NaN,"Brahmaputra, Varsha",2000,8,2,2000,8,30,200,NaN,NaN,1000,1000,NaN,NaN,NaN,67.35575898,2,NaN,5943;5953,"Phuentshogling, Sampheling (Adm2)."
4,2000-0677-CHN,2000,0677,NaN,Natural,Hydrological,Flood,Flash flood,NaN,NaN,China,CHN,Eastern Asia,Asia,"Xuwen area (Zhanjiang district, Guandong provi...",Tropical cyclone,"Slide (land, mud, snow, rock)",NaN,NaN,NaN,NaN,NaN,11170,Km2,NaN,NaN,NaN,NaN,2000,10,12,2000,10,18,10,NaN,200000,NaN,200000,NaN,NaN,25366,67.35575898,1;2,906,13035,Hainan Sheng (Adm1). Zhanjiang (Adm2).
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3489,2020-0216-YEM,2020,0216,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,Yemen,YEM,Western Asia,Asia,"Hadhramaut, Shabwa, Al Mahrah","Heavy rains, cyclone Nisarga",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Km2,NaN,NaN,NaN,NaN,2020,6,3,2020,6,4,16,85,130,NaN,215,NaN,NaN,NaN,NaN,1,3413;3424;144970,NaN,"Al Maharah, Hadramaut, Shabwah (Adm1)."
3490,2020-0314-YEM,2020,0314,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,Yemen,YEM,Western Asia,Asia,"Marib, Dhale, Abyan, Hadhramaut, Ibb, Hodeidah...",Heavy rains,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Km2,NaN,NaN,NaN,NaN,2020,8,1,2020,8,5,20,6,9000,NaN,9006,NaN,NaN,NaN,NaN,1,3407;3408;3411;3418;3419;3421;144970,NaN,"Abyan, Al Dhale'e, Al Hudaydah, Hadramaut, Haj..."
3491,2020-0319-YEM,2020,0319,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,Yemen,YEM,Western Asia,Asia,"Lahij, Ibb, Shabwah, Abyan and Sana'a governor...",Heavy rains,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Km2,NaN,NaN,NaN,NaN,2020,7,22,2020,7,25,17,NaN,NaN,150,150,NaN,NaN,NaN,NaN,1,3407;3419;3420;3424;144972,NaN,"Abyan, Ibb, Lahj, Sana'a, Shabwah (Adm1)."
3492,2021-0449-YEM,2021,0449,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,Yemen,YEM,Western Asia,Asia,"Marib,Taizz, al-Mahrah, Hadramawt, Shabwa, Aby...",Heavy rains,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Km2,NaN,NaN,NaN,NaN,2021,7,16,2021,7,28,14,NaN,1000,NaN,1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3493,2020-0131-TLS,2020,0131,NaN,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,Timor-Leste,TLS,South-Eastern Asia,Asia,"Cristo Rei, Nain Feto, Dom Aleixo, and Vera Cr...",Heavy rains,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Km2,NaN,NaN,NaN,NaN,2020,3,13,2020,3,13,3,7,9124,NaN,9131,NaN,NaN,20000,NaN,2,NaN,82648;82649;82650;82651,"Cristo Rei, Dom Aleixo, Nein Feto, Vera Cruz (..."

In [4]:
d.columns.tolist()

['Dis No',
 'Year',
 'Seq',
 'Glide',
 'Disaster Group',
 'Disaster Subgroup',
 'Disaster Type',
 'Disaster Subtype',
 'Disaster Subsubtype',
 'Event Name',
 'Country',
 'ISO',
 'Region',
 'Continent',
 'Location',
 'Origin',
 'Associated Dis',
 'Associated Dis2',
 'OFDA Response',
 'Appeal',
 'Declaration',
 'Aid Contribution',
 'Dis Mag Value',
 'Dis Mag Scale',
 'Latitude',
 'Longitude',
 'Local Time',
 'River Basin',
 'Start Year',
 'Start Month',
 'Start Day',
 'End Year',
 'End Month',
 'End Day',
 'Total Deaths',
 'No Injured',
 'No Affected',
 'No Homeless',
 'Total Affected',
 "Reconstruction Costs ('000 US$)",
 "Insured Damages ('000 US$)",
 "Total Damages ('000 US$)",
 'CPI',
 'Adm Level',
 'Admin1 Code',
 'Admin2 Code',
 'Geo Locations']

In [5]:
# how many rows don't have long lat coordinates?
d.isna().sum()

0
Dis No                                0
Year                                  0
Seq                                   0
Glide                              2970
Disaster Group                        0
Disaster Subgroup                     0
Disaster Type                         0
Disaster Subtype                    501
Disaster Subsubtype                3263
Event Name                         2708
Country                               0
ISO                                   0
Region                                0
Continent                             0
Location                             69
Origin                             2149
Associated Dis                     2352
Associated Dis2                    3230
OFDA Response                      3290
Appeal                             3350
Declaration                        3298
Aid Contribution                   3314
Dis Mag Value                      2065
Dis Mag Scale                       310
Latitude                           2611
Longitude                          2608
Local Time                         3240
River Basin                        3124
Start Year                            0
Start Month                           7
Start Day                           310
End Year                              0
End Month                            38
End Day                             314
Total Deaths                        732
No Injured                         2250
No Affected                        1162
No Homeless                        2990
Total Affected                      564
Reconstruction Costs ('000 US$)    3491
Insured Damages ('000 US$)         3340
Total Damages ('000 US$)           2162
CPI                                 256
Adm Level                           237
Admin1 Code                        1755
Admin2 Code                        1679
Geo Locations                       237
dtype: int64

In [5]:
no_loca = d[d["Location"].isnull()] #69 rows out of 3494 have no location 
no_loca[no_loca["Longitude"].notnull()] # 66 out of 69 have no coords
# convert those with longlat to location? or not worth it since there are only 3 rows

,Dis No,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,Country,ISO,Region,Continent,Location,Origin,Associated Dis,Associated Dis2,OFDA Response,Appeal,Declaration,Aid Contribution,Dis Mag Value,Dis Mag Scale,Latitude,Longitude,Local Time,River Basin,Start Year,Start Month,Start Day,End Year,End Month,End Day,Total Deaths,No Injured,No Affected,No Homeless,Total Affected,Reconstruction Costs ('000 US$),Insured Damages ('000 US$),Total Damages ('000 US$),CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
2770,2018-0156-AFG,2018,0156,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,Afghanistan,AFG,Southern Asia,Asia,NaN,Torrential Rain,NaN,NaN,NaN,NaN,NaN,NaN,184397,Km2,34.94,68.216,NaN,NaN,2018,5,9,2018,5,22,72,NaN,4000,NaN,4000,NaN,NaN,NaN,98.21999062,NaN,NaN,NaN,NaN
2775,2018-0158-BGD,2018,0158,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,Bangladesh,BGD,Southern Asia,Asia,NaN,Torrential Rain,NaN,NaN,NaN,NaN,NaN,NaN,3882,Km2,23.226,92.13,NaN,NaN,2018,5,20,2018,5,22,21,NaN,14000,NaN,14000,NaN,NaN,NaN,98.21999062,NaN,NaN,NaN,NaN
3198,2021-0225-BTN,2021,0225,NaN,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,Bhutan,BTN,Southern Asia,Asia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,Richter,26.781,92.457,NaN,NaN,2021,4,28,2021,4,28,NaN,2,500,NaN,502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
no_loca.isna().sum()

NameError: name 'no_loca' is not defined

#### -- let's remove these 69 rows without location, though all have country.

In [3]:
d2 = d[d["Location"].notnull()].reset_index(drop=True)
d2["Dis No"].unique

<bound method Series.unique of 0       2000-0372-CHN
1       2000-9186-AFG
2       2000-0373-BGD
3       2000-0484-BTN
4       2000-0677-CHN
            ...
3420    2020-0216-YEM
3421    2020-0314-YEM
3422    2020-0319-YEM
3423    2021-0449-YEM
3424    2020-0131-TLS
Name: Dis No, Length: 3425, dtype: object>

In [4]:
loca = d2[["Dis No", "Location"]]
loca

0            Dis No                                           Location
0     2000-0372-CHN  Quanzhou, Zhangzhou, Xiamen districts (Fujian ...
1     2000-9186-AFG  Kandahar, Hilmand, Nimroz, Zabul, Uruzgan prov...
2     2000-0373-BGD  Bakalia, Kotwali, Chandgaon, Pahartali, Hathaz...
3     2000-0484-BTN  Pasakha area (Sampheling district, Chhukha pro...
4     2000-0677-CHN  Xuwen area (Zhanjiang district, Guandong provi...
...             ...                                                ...
3420  2020-0216-YEM                      Hadhramaut, Shabwa, Al Mahrah
3421  2020-0314-YEM  Marib, Dhale, Abyan, Hadhramaut, Ibb, Hodeidah...
3422  2020-0319-YEM  Lahij, Ibb, Shabwah, Abyan and Sana'a governor...
3423  2021-0449-YEM  Marib,Taizz, al-Mahrah, Hadramawt, Shabwa, Aby...
3424  2020-0131-TLS  Cristo Rei, Nain Feto, Dom Aleixo, and Vera Cr...

[3425 rows x 2 columns]

In [5]:
eg = loca.iloc[0:3]
eg

0         Dis No                                           Location
0  2000-0372-CHN  Quanzhou, Zhangzhou, Xiamen districts (Fujian ...
1  2000-9186-AFG  Kandahar, Hilmand, Nimroz, Zabul, Uruzgan prov...
2  2000-0373-BGD  Bakalia, Kotwali, Chandgaon, Pahartali, Hathaz...

#### -- let's split the Location into their own rows using spaCy's NER (used for mordecai)

In [4]:
import spacy
nlp = spacy.load("en_core_web_lg")

In [75]:
doc = nlp("Bakalia, Kotwali, Chandgaon, Pahartali, Hathazari, Halishahar, Patiya, Satkania areas (Chittagong district, Chittagong province), Cox's Bazar district (Chittagong province)")
for ent in doc.ents:
    if ent.label_ == "GPE":
        print(ent.text, ent.label_)

Kotwali GPE
Chandgaon GPE
Chittagong GPE
Chittagong province GPE
Bazar GPE
Chittagong province GPE

In [77]:
import spacy
nlp = spacy.load("en_core_web_lg")

def getGPE(string):
    locations = []
    doc = nlp(string)
    for ent in doc.ents:
        if ent.label_ == "GPE":
            locations.append(ent.label_)
    return locations

In [81]:
eg2 = eg.apply(lambda x: pd.Series(getGPE(x), index=[""]), result_type="expand")
eg2

AttributeError: 'Series' object has no attribute 'upper'

# geoparsing

In [6]:
# try geoparsing
from mordecai import Geoparser

In [32]:
geo = Geoparser()

Models path: C:\Users\TzeMin\miniconda3\envs\mordecai-2.0.1.post1\lib\site-packages\mordecai\models\

In [18]:
geo.geoparse("Eiffel Tower is located in Paris")

[{'word': 'Eiffel Tower',
  'spans': [{'start': 0, 'end': 12}],
  'country_predicted': 'FRA',
  'country_conf': 0.96374094,
  'geo': {'admin1': 'Île-de-France',
   'lat': '48.85832',
   'lon': '2.29452',
   'country_code3': 'FRA',
   'geonameid': '6254976',
   'place_name': 'Tour Eiffel',
   'feature_class': 'S',
   'feature_code': 'MNMT'}},
 {'word': 'Paris',
  'spans': [{'start': 27, 'end': 32}],
  'country_predicted': 'FRA',
  'country_conf': 0.957188,
  'geo': {'admin1': 'Île-de-France',
   'lat': '48.85339',
   'lon': '2.34864',
   'country_code3': 'FRA',
   'geonameid': '2988506',
   'place_name': 'Paris',
   'feature_class': 'A',
   'feature_code': 'ADM3'}}]

In [34]:
eg.iloc[1]

0
Dis No                                          2000-9186-AFG
Location    Kandahar, Hilmand, Nimroz, Zabul, Uruzgan prov...
Name: 1, dtype: object

In [44]:
eg.values

array([['2000-0372-CHN',
        'Quanzhou, Zhangzhou, Xiamen districts (Fujian Sheng province), Jiangxi Sheng province'],
       ['2000-9186-AFG',
        'Kandahar, Hilmand, Nimroz, Zabul, Uruzgan provinces (south-west), Hirat, Farah, Badghis provinces (west), Paktika, Khost, Ghazni provinces (south), Baghlan, Kunduz, Takhar, Badakhshan provinces (north-east)'],
       ['2000-0373-BGD',
        "Bakalia, Kotwali, Chandgaon, Pahartali, Hathazari, Halishahar, Patiya, Satkania areas (Chittagong district, Chittagong province), Cox's Bazar district (Chittagong province)"]],
      dtype=object)

In [19]:
eg.iloc[0]["Dis No"]

'2000-0372-CHN'

In [20]:
#def parseToColumn(row):
#    res = geo.geoparse(row["Location"]) 
#    cols = list(res["word"], res["geo"]["lon"], res["geo"]["lat"])
#    return cols

def parseToColumn(row):
    disno = row["Dis No"]
    lst = geo.geoparse(row["Location"]) # ls = [{kv, kdict[lat], kdict[lon]},{},{}]
    res = []
    
    for d in lst:
        location = d["word"]
        country = d["geo"]["country_code3"]
        latitude = d["geo"]["lat"]
        longitude = d["geo"]["lon"]
        res.append([disno, location, country, latitude, longitude])
    
    return res

In [38]:
def parseToColumn(row):
    disno = row["Dis No"]
    lst = geo.geoparse(row["Location"]) # ls = [{kv, kdict[lat], kdict[lon]},{},{}]
    res = []
    
    for d in lst:
        geodata = d.get("geo")
        if geodata:
            lon, lat = d["geo"]["lon"], d["geo"]["lat"]
            location = d["word"]
            country = d["country_predicted"]
            res.append([disno, location, country, lon, lat])
        else:
            continue
    return res

In [51]:
for row in eg.values:
    disno = row[0]
    #print(row[0])
    print(type(row[1]))

<class 'str'>
<class 'str'>
<class 'str'>

In [54]:
geo = Geoparser()

Models path: C:\Users\TzeMin\miniconda3\envs\mordecai-2.0.1.post1\lib\site-packages\mordecai\models\

In [60]:
loca

0            Dis No                                           Location
0     2000-0372-CHN  Quanzhou, Zhangzhou, Xiamen districts (Fujian ...
1     2000-9186-AFG  Kandahar, Hilmand, Nimroz, Zabul, Uruzgan prov...
2     2000-0373-BGD  Bakalia, Kotwali, Chandgaon, Pahartali, Hathaz...
3     2000-0484-BTN  Pasakha area (Sampheling district, Chhukha pro...
4     2000-0677-CHN  Xuwen area (Zhanjiang district, Guandong provi...
...             ...                                                ...
3420  2020-0216-YEM                      Hadhramaut, Shabwa, Al Mahrah
3421  2020-0314-YEM  Marib, Dhale, Abyan, Hadhramaut, Ibb, Hodeidah...
3422  2020-0319-YEM  Lahij, Ibb, Shabwah, Abyan and Sana'a governor...
3423  2021-0449-YEM  Marib,Taizz, al-Mahrah, Hadramawt, Shabwa, Aby...
3424  2020-0131-TLS  Cristo Rei, Nain Feto, Dom Aleixo, and Vera Cr...

[3425 rows x 2 columns]

In [55]:
for row in loca.values:
    disno = row[0]
    res = geo.geoparse(row[1]) # ls = [{kv, kdict[lat], kdict[lon]},{},{}]
    dataf = []
    
    for d in res:
        if d.get("geo"):
            location = d["word"]
            country = d["geo"]["country_code3"]
            lon, lat = d["geo"]["lon"], d["geo"]["lat"]
            dataf.append([disno, location, country, lon, lat])
        else:
            continue

In [58]:
pd.DataFrame(dataf, columns = ["DisNo", "Location", "CountryCode", "Lon", "Lat"])

           DisNo    Location CountryCode       Lon       Lat
0  2000-0373-BGD     Kotwali         BGD  89.25166  25.74664
1  2000-0373-BGD  Chittagong         BGD      91.5  22.91667
2  2000-0373-BGD       Bazar         KAZ  82.31473  47.92632

In [40]:
parseToColumn(eg.iloc[1])

[['2000-9186-AFG', 'Kandahar', 'AFG', '65.75', '31'],
 ['2000-9186-AFG', 'Hilmand', 'AFG', '64', '31'],
 ['2000-9186-AFG', 'Nimroz', 'AFG', '62.5', '31'],
 ['2000-9186-AFG', 'Uruzgan', 'AFG', '66', '32.83333'],
 ['2000-9186-AFG', 'Khost', 'CIV', '-5.5', '8'],
 ['2000-9186-AFG', 'Baghlan', 'AFG', '69', '35.75'],
 ['2000-9186-AFG', 'Badakhshan', 'AFG', '72', '36.75']]

In [35]:
geo.geoparse(eg.iloc[1]["Location"])

[{'word': 'Kandahar',
  'spans': [{'start': 0, 'end': 8}],
  'country_predicted': 'AFG',
  'country_conf': 0.957188,
  'geo': {'admin1': 'Kandahar',
   'lat': '31',
   'lon': '65.75',
   'country_code3': 'AFG',
   'geonameid': '1138335',
   'place_name': 'Kandahār',
   'feature_class': 'A',
   'feature_code': 'ADM1'}},
 {'word': 'Hilmand',
  'spans': [{'start': 10, 'end': 17}],
  'country_predicted': 'AFG',
  'country_conf': 0.9528109,
  'geo': {'admin1': 'Helmand',
   'lat': '31',
   'lon': '64',
   'country_code3': 'AFG',
   'geonameid': '1140043',
   'place_name': 'Helmand',
   'feature_class': 'A',
   'feature_code': 'ADM1'}},
 {'word': 'Nimroz',
  'spans': [{'start': 19, 'end': 25}],
  'country_predicted': 'AFG',
  'country_conf': 0.9528109,
  'geo': {'admin1': 'Nimroz',
   'lat': '31',
   'lon': '62.5',
   'country_code3': 'AFG',
   'geonameid': '1131821',
   'place_name': 'Wilāyat-e Nīmrōz',
   'feature_class': 'A',
   'feature_code': 'ADM1'}},
 {'word': 'Uruzgan',
  'spans': [{'start': 34, 'end': 41}],
  'country_predicted': 'AFG',
  'country_conf': 0.9528109,
  'geo': {'admin1': 'Oruzgan',
   'lat': '32.83333',
   'lon': '66',
   'country_code3': 'AFG',
   'geonameid': '1131461',
   'place_name': 'Uruzgān',
   'feature_class': 'A',
   'feature_code': 'ADM1'}},
 {'word': 'Khost',
  'spans': [{'start': 115, 'end': 120}],
  'country_predicted': 'CIV',
  'country_conf': 0.92213035,
  'geo': {'admin1': 'NA',
   'lat': '8',
   'lon': '-5.5',
   'country_code3': 'CIV',
   'geonameid': '2287781',
   'place_name': 'Republic of Côte d’Ivoire',
   'feature_class': 'A',
   'feature_code': 'PCLI'}},
 {'word': 'Baghlan',
  'spans': [{'start': 148, 'end': 155}],
  'country_predicted': 'AFG',
  'country_conf': 0.9528109,
  'geo': {'admin1': 'Baghlan',
   'lat': '35.75',
   'lon': '69',
   'country_code3': 'AFG',
   'geonameid': '1147537',
   'place_name': 'Wilāyat-e Baghlān',
   'feature_class': 'A',
   'feature_code': 'ADM1'}},
 {'word': 'Takhar',
  'spans': [{'start': 165, 'end': 171}],
  'country_predicted': 'AFG',
  'country_conf': 0.5339668},
 {'word': 'Badakhshan',
  'spans': [{'start': 173, 'end': 183}],
  'country_predicted': 'AFG',
  'country_conf': 0.9528109,
  'geo': {'admin1': 'Badakhshan',
   'lat': '36.75',
   'lon': '72',
   'country_code3': 'AFG',
   'geonameid': '1147745',
   'place_name': 'Badakhshān',
   'feature_class': 'A',
   'feature_code': 'ADM1'}}]

In [11]:
eg["result"] = eg.apply(lambda x: geo.geoparse(x["Location"]), axis=1)

C:\Users\TzeMin\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [12]:
eg

,Dis No,Location,result
0,2000-0372-CHN,"Quanzhou, Zhangzhou, Xiamen districts (Fujian ...","[{'word': 'Quanzhou', 'spans': [{'start': 0, '..."
1,2000-9186-AFG,"Kandahar, Hilmand, Nimroz, Zabul, Uruzgan prov...","[{'word': 'Kandahar', 'spans': [{'start': 0, '..."
2,2000-0373-BGD,"Bakalia, Kotwali, Chandgaon, Pahartali, Hathaz...","[{'word': 'Kotwali', 'spans': [{'start': 9, 'e..."

In [31]:
eg.iloc[2,2]

[{'word': 'Kotwali',
  'spans': [{'start': 9, 'end': 16}],
  'country_predicted': 'BGD',
  'country_conf': 0.9528109,
  'geo': {'admin1': 'Rangpur Division',
   'lat': '25.74664',
   'lon': '89.25166',
   'country_code3': 'BGD',
   'geonameid': '1185188',
   'place_name': 'Rangpur',
   'feature_class': 'P',
   'feature_code': 'PPLA'}},
 {'word': 'Chandgaon',
  'spans': [{'start': 18, 'end': 27}],
  'country_predicted': 'BGD',
  'country_conf': 0.5714737},
 {'word': 'Chittagong',
  'spans': [{'start': 87, 'end': 97}],
  'country_predicted': 'BGD',
  'country_conf': 0.96374094,
  'geo': {'admin1': 'Chittagong',
   'lat': '22.91667',
   'lon': '91.5',
   'country_code3': 'BGD',
   'geonameid': '1337200',
   'place_name': 'Chittagong',
   'feature_class': 'A',
   'feature_code': 'ADM1'}},
 {'word': 'Chittagong',
  'spans': [{'start': 108, 'end': 118}],
  'country_predicted': 'BGD',
  'country_conf': 0.24821267},
 {'word': 'Bazar',
  'spans': [{'start': 136, 'end': 141}],
  'country_predicted': 'KAZ',
  'country_conf': 0.9048774,
  'geo': {'admin1': 'East Kazakhstan',
   'lat': '47.92632',
   'lon': '82.31473',
   'country_code3': 'KAZ',
   'geonameid': '11760432',
   'place_name': 'Urochishche Bazar',
   'feature_class': 'L',
   'feature_code': 'AREA'}},
 {'word': 'Chittagong',
  'spans': [{'start': 152, 'end': 162}],
  'country_predicted': 'BGD',
  'country_conf': 0.24821267}]

In [29]:
user_dict = {12: {'Category 1': {'att_1': 1, 'att_2': 'whatever'},
                  'Category 2': {'att_1': 23, 'att_2': 'another'}},
             15: {'Category 1': {'att_1': 10, 'att_2': 'foo'},
                  'Category 2': {'att_1': 30, 'att_2': 'bar'}}}

pd.concat({
        k: pd.DataFrame.from_dict(v, 'index') for k, v in user_dict.items()
    }, 
    axis=0)

               att_1     att_2
12 Category 1      1  whatever
   Category 2     23   another
15 Category 1     10       foo
   Category 2     30       bar

In [30]:
user_dict

{12: {'Category 1': {'att_1': 1, 'att_2': 'whatever'},
  'Category 2': {'att_1': 23, 'att_2': 'another'}},
 15: {'Category 1': {'att_1': 10, 'att_2': 'foo'},
  'Category 2': {'att_1': 30, 'att_2': 'bar'}}}

In [15]:
pd.DataFrame(eg["result"][0])

,word,spans,country_predicted,country_conf,geo
0,Quanzhou,"[{'start': 0, 'end': 8}]",CHN,0.904877,"{'admin1': 'Fujian', 'lat': '24.91389', 'lon':..."
1,Zhangzhou,"[{'start': 10, 'end': 19}]",CHN,0.952811,"{'admin1': 'Fujian', 'lat': '24.51333', 'lon':..."
2,Xiamen,"[{'start': 21, 'end': 27}]",CHN,0.963741,"{'admin1': 'Fujian', 'lat': '24.47979', 'lon':..."
3,Fujian Sheng,"[{'start': 39, 'end': 51}]",CHN,0.904877,"{'admin1': 'Fujian', 'lat': '26.25', 'lon': '1..."
4,Jiangxi Sheng,"[{'start': 63, 'end': 76}]",CHN,0.963741,"{'admin1': 'Jiangxi', 'lat': '27.66667', 'lon'..."

In [74]:
eg.iloc[[0]]
eg.iloc[2,1]

"Bakalia, Kotwali, Chandgaon, Pahartali, Hathazari, Halishahar, Patiya, Satkania areas (Chittagong district, Chittagong province), Cox's Bazar district (Chittagong province)"

In [73]:
ls = geo.geoparse(eg.iloc[2,1])
ls

[{'word': 'Kotwali',
  'spans': [{'start': 9, 'end': 16}],
  'country_predicted': 'BGD',
  'country_conf': 0.9528109,
  'geo': {'admin1': 'Rangpur Division',
   'lat': '25.74664',
   'lon': '89.25166',
   'country_code3': 'BGD',
   'geonameid': '1185188',
   'place_name': 'Rangpur',
   'feature_class': 'P',
   'feature_code': 'PPLA'}},
 {'word': 'Chandgaon',
  'spans': [{'start': 18, 'end': 27}],
  'country_predicted': 'BGD',
  'country_conf': 0.5714737},
 {'word': 'Chittagong',
  'spans': [{'start': 87, 'end': 97}],
  'country_predicted': 'BGD',
  'country_conf': 0.96374094,
  'geo': {'admin1': 'Chittagong',
   'lat': '22.91667',
   'lon': '91.5',
   'country_code3': 'BGD',
   'geonameid': '1337200',
   'place_name': 'Chittagong',
   'feature_class': 'A',
   'feature_code': 'ADM1'}},
 {'word': 'Chittagong',
  'spans': [{'start': 108, 'end': 118}],
  'country_predicted': 'BGD',
  'country_conf': 0.24821267},
 {'word': 'Bazar',
  'spans': [{'start': 136, 'end': 141}],
  'country_predicted': 'KAZ',
  'country_conf': 0.9048774,
  'geo': {'admin1': 'East Kazakhstan',
   'lat': '47.92632',
   'lon': '82.31473',
   'country_code3': 'KAZ',
   'geonameid': '11760432',
   'place_name': 'Urochishche Bazar',
   'feature_class': 'L',
   'feature_code': 'AREA'}},
 {'word': 'Chittagong',
  'spans': [{'start': 152, 'end': 162}],
  'country_predicted': 'BGD',
  'country_conf': 0.24821267}]

In [46]:
eg["lon"] = ls[0]["geo"]["lon"]

C:\Users\TzeMin\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [44]:
ls[0]["word"]

'Quanzhou'

In [41]:
ls[0]["geo"]["lat"]

'24.91389'

In [43]:
ls[0]["geo"]["lon"]

'118.58583'